
*{
    font-family: 'poppins', sans-serif;
}
body, html{
    height: 100%;
}

.btn-group{
    padding-right: 300px;
}


.navbar{
    height: 70px;
    background: yellowgreen;
    
}
.navbar-brand{
    padding-left: 300px;
    font-size: 20px;
    font-weight:900;
}
.nav-item{
    margin-left: 10px;
    font-weight: 400;
    margin-top: 2px;
    transition: .3s;
}

.nav-item a:hover{
    color: white;
    border-bottom: 2px solid black;
}


.navbar{
    
    position: sticky;
    top: 0;

}



body{
    margin: 0;
    padding: 0;
}
.box-1{
    height: 100vh;
    width: 100%;
    background-image: url("Images/Parallax/image1.jpg");
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

.box-2{
    height: 100vh;
    width: 100%;
    background-image: url("Images/Parallax/image2.jpg");
    background-position: center;
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

.box-3{
    height: 100vh;
    width: 100%;
    background-image: url("Images/Parallax/image3.jpg");
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

h1{
    font-family: "poppins";
    font-size: 50px;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.black{
    color: black;
}
.white{
    color: whitesmoke;
}
.red{
    color: red;
}